<% layout('template/layoutAuth') -%>
<div class="<%=pageAuth%>-box">
  <div class="<%=pageAuth%>-logo">
    <a href="/"><b>ZRapi </b><br />RestAPi Open Source</a>
  </div>
  <div class="<%=pageAuth%>-box-body">
    <p class="<%=pageAuth%>-box-msg">Sign in to start your session</p>

    <form action="/auth/login" method="POST" id="myform">
      <div class="form-group has-feedback">
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          placeholder="Email"
          autofocus
          required
        />
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input
          type="password"
          name="password"
          id="password"
          class="form-control form-control-user"
          placeholder="Password"
          required
        />
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input
          type="checkbox"
          id="checkbox"
          onclick="showPW()"
          value="Show password"
        />
        <label for="checkbox">Show Password</label>
      </div>
      <input type="hidden" name="_csrf" id="_csrf" value="<%- csrfToken %>" />
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <p>don't have account? <a href="/auth/register">Sign Up</a></p>
          </div>
        </div>
        <div class="col-xs-4">
          <button
            type="submit"
            class="btn btn-primary btn-block btn-flat"
            id="loading"
          >
            Sign In
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
  function showPW() {
    var pw = document.getElementById("password");
    if (pw.type === "password") {
      pw.type = "text";
    } else {
      pw.type = "password";
    }

    var rpw = document.getElementById("repeatPassword");
    if (rpw.type === "password") {
      rpw.type = "text";
    } else {
      rpw.type = "password";
    }
  }
  $(document).ready(function () {
    $("#myform").submit(function (e) {
      var formObj = $(this);
      var formURL = formObj.attr("action");
      var email = $("input[name='email']").val();
      var username = $("input[name='username']").val();
      var password = $("input[name='password']").val();
      var repeatPassword = $("input[name='repeatPassword']").val();
      var token = $("input[type='hidden']").val();
      var dataa = JSON.stringify({
        email,
        username,
        password,
        repeatPassword,
      });
      $.ajax({
        url: formURL,
        type: "POST",
        dataType: "json",
        contentType: "application/json",
        data: dataa,
        xhrFields: {
          withCredentials: true,
        },
        headers: {
          "Content-Type": "application/json",
          "CSRF-Token": token,
        },
        cache: false,
        processData: false,
        beforeSend: function (xhr) {
          xhr.withCredentials = true;
          $("button").attr("disabled", "disabled");
          $("input").attr("disabled", "disabled");
          $("a").attr("disabled", "disabled");
          $("#loading").html(
            '<i class="fas fa-spinner fa-spin"></i> Loading...'
          );
        },
        success: async function (data, textStatus, jqXHR) {
          console.log(data);
          if (data.success == true) {
            const Toast = Swal.mixin({
              toast: true,
              position: "top-right",
              iconColor: "white",
              text: data.message,
              customClass: {
                popup: "colored-toast",
              },
              showConfirmButton: false,
              timer: 1500,
              timerProgressBar: true,
            });
            await Toast.fire({
              icon: "success",
              title: "Success",
            });
            $("#loading").html("Sign In");
            $("button").removeAttr("disabled", "disabled");
            $("a").removeAttr("disabled", "disabled");
            $("input").removeAttr("disabled", "disabled");
            $("input").val("");
          } else {
            Swal.fire({
              icon: "info",
              text: "Some Error",
              footer: "Contact<a href='//wa.me/6289630171792'>admin</a>",
            });
          }
        },
        error: function (jqXHR, textStatus, err) {
          var errornya = jqXHR.responseJSON.message;
          Swal.fire({
            icon: "error",
            text: errornya,
          });
          $("#loading").html("Sign In");
          $("button").removeAttr("disabled", "disabled");
          $("a").removeAttr("disabled", "disabled");
          $("input").removeAttr("disabled", "disabled");
        },
      });
      e.preventDefault();
    });
  });
</script>
